.editionBar__nav {
    background-color: #F8F8F8;
    border: 0.2rem solid #E7E7E7;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
}
.editionBar__button {
    display: block;
    padding: 1rem 2rem 1rem 2rem;
}
.editionBar__button:focus {
    border: none;
    outline: none;
}
.editionBar__button:first-child {
    padding-top: 1rem;
}
.editionBar__button:last-child {
    padding-bottom: 1rem;
}

// .buttons {
//     background-color: transparent;
//     border: none;
//     display: block;
// }

// .buttons:hover {
//     background-color: #F6CED8;
// }
// .buttons:focus {
//     border: none;
//     outline: none;
//     background-color: #F5A9D0;
// }
.editionBar__span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 5s;
}

.hiddenControl {
    display: none;
    visibility: hidden;
}
.showControl{
    display:block;
    visibility: visible;
}
.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
    //  padding-right: 1.5rem;
}


/* Mobile Styles */

@media only screen and (max-width: 780px) {
    .editionBar__nav {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 4vh;
        width: 95%;
    }
    .editionBar__button {
        display: block;
        padding: 0.4rem 3rem 0.4rem 1rem;
    }
    .editionBar__button:last-child {
        padding-bottom: 0;
        padding-top: 0.3rem;
    }
    .editionBar__button:first-child {
        padding-left: 0;
        margin-left: 0;
    }
       .buttons {
        margin-right: 0;
    }
    .openMenu {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 400px) and (max-width: 960px) {
    .editionBar__nav {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        width: 100%;
    }
    .editionBar__button {
        display: block;
        padding: 0.4rem 0.3rem 0.4rem 1.3rem;
    }
      .buttons {
        margin-right: 0;
    }
    .openMenu {
        display: none;
        visibility: hidden;
    }
}
@media only screen and (max-width: 750px) {

    .openMenu {
        display: none;
        visibility: hidden;
    }
    .navBar__images {
        //        width: 1.6rem;
        //        height: 1.6rem;
        width: 1.5rem;
        height: 2.5rem;
    }
    .editionBar__nav {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        width: 100%;
    }
}