.navBar__button {
    width: 10rem;
    padding-bottom: 0;
    height: 5rem;
    margin-right: 0.2rem;
    display: inline-block;
}
.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
}
@media only screen and (max-width: 500px) {
    .navBar__images {
        width: 1.8rem;
        height: 2.5rem;
    }
     .navBar__button {
        padding-bottom: 5rem;
        padding-top: 0.5rem;
        padding-right: 91vw;
        border-top: solid #e7e7e7;
        border-bottom: solid #e7e7e7;
        padding-left: 2rem;
    }
}
@media only screen and (max-width: 400px) and (max-width: 960px) {
    .buttons {
        margin-right: 0;
    }
    .navBar__images {
        width: 1.5rem;
        height: 2.5rem;
    }
    .navBar__button {
        padding-bottom: 5rem;
        padding-top: 0.5rem;
        padding-right: 91vw;
        border-top: solid #e7e7e7;
        border-bottom: solid #e7e7e7;
        padding-left: 2rem;
    }
}
@media only screen and (max-width: 750) {
    .navBar__images {
        width: 1.5rem;
        height: 2.5rem;
    }
    .navBar__button {
        padding-bottom: 5rem;
        padding-top: 0.5rem;
        padding-right: 91vw;
        border-top: solid #e7e7e7;
        border-bottom: solid #e7e7e7;
        padding-left: 2rem;
    }
}
