.navBar__button {
    width: 4rem;
    padding-bottom: 0;
    padding-right: 0rem;
    height: 5rem;
    margin-right: 0.2rem;
    display: inline-block;

}
.navBar__images {
    width: 2.3rem;
    height: 2.3rem;
}
@media only screen and (max-width: 500px) {
    .navBar__images {
        width: 1.8rem;
        height: 2.5rem;
    }
}
@media only screen and (max-width: 400px) and (max-width: 960px) {
    .buttons {
        margin-right: 0;
    }
    .navBar__images {
        width: 1.5rem;
        height: 2.5rem;
    }
}
@media only screen and (max-width: 750) {
    .navBar__images {
        width: 1.5rem;
        height: 2.5rem;
    }
}
