.infoPanel {
    background-color: transparent;
    height: 85vh;
    border: 0.2rem solid #DDD;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding-left: 1.8rem;
    overflow: auto;
}

ul#listInformationPanel {
    list-style-type: none;
}
/* Mobile Styles */
@media only screen and (max-width: 780px) {
    .infoPanel {
        height: 30vh;
        width: 90%;
        margin: 0 2rem 2rem 2rem;
        padding-left: 1rem;
    }
    .infoPanel {
        height: 40vh;
    }
    
}

@media only screen and (max-width: 400px) and (max-width: 960px) {
    .infoPanel {
        height: 30vh;
        width: 90%;
        margin: 0 2rem 2rem 2rem;
        padding-left: 1rem;

    }
}
